{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method='POST' enctype='multipart/form-data'>
    {%  csrf_token %}
    {{ form.media }}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit">Отправить</button></p>

</form>
{% endblock %}


<!--     <p><label for="id_1">Текст: </label><input type="text" id="id_1" name="field_text">
    <p><label for="id_2">Отметка: </label><input type="checkbox" id="id_2" name="field_check">
    <p><label for="id_3">Число: </label><input type="number" id="id_3" name="field_num">
    <p><label for="id_4">Пароль: </label><input type="password" id="id_4" name="field_psw"> -->